[Unit]
Description=log DHT22 output
After=network.target

[Service]
Type=simple
User=raspi
WorkingDirectory=/home/raspi
ExecStart=/home/raspi/dht22/dht22 4
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
